.main {
}
.content {
  width: 85%;
  margin: 0 auto;
  padding-bottom: 10px;
}
.films-list {
  display: grid;
  gap: 30px;
  grid-auto-rows: minmax(484px, 1fr);
  grid-template-columns: repeat(auto-fit, minmax(212px, 1fr));
}
