@import "components/app/ui/styles/colors.scss";
.ticket {
  border: 4px dashed $text-color;
  color: $text-color;
}

.information {
  display: flex;
  flex-direction: column;
  width: 249px/297px * 100%;
  margin: 16px auto;
  gap: 16px;
}

.places {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.purchase {
  padding: 12px;
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 10px;
  border-top: 4px dashed $text-color;
  & > * {
    text-align: right;
  }
  & div:first-child span {
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 0.24px;
  }
}
.parameter {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.description {
  letter-spacing: 0.24px;
  font-size: 24px;
  font-weight: 500;
  color: $subtitle;
}
.value,
.title {
  font-size: 20px;
  font-weight: 600;
  color: $text-color;
}
.title {
  text-align: center;
  font-weight: 700;
}

.buy_button {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 40%;
  min-width: 120px;
  height: 40px;
  border-radius: 8px;
  background-color: $orange;

  & span {
    color: $text-color;
    font-size: 18px;
    font-weight: 500;
  }
}
.not_available {
  cursor: auto;
  background-color: $blocked-place;
}
