.head {
  width: 100%;
  height: 96px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 24px;
}
.logo {
  img {
    width: 100%;
  }
}
.login {
  width: 120px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  border: 2px solid whitesmoke;
  border-radius: 8px;
}
@media (max-width: 762px) {
  .logo {
    width: 45%;
    min-width: 200px;
  }
}
@media (max-width: 360px) {
  .login {
    width: 75px;
  }
}
