@import "components/app/ui/styles/colors.scss";

.place_choosing {
  & > div:first-child {
    display: block;
  }
  & > div:nth-child(2) {
    display: none;
  }
}

@media (max-width: 762px) {
  .place_choosing {
    & > div:first-child {
      display: none;
    }
    & > div:nth-child(2) {
      display: flex;
    }
  }
}
