$default-blue: #4656e9;
$hover-blue: #4451c6;

$default-purple: #b448e7;
$hover-purple: #8855a0;

$subtitle: silver;
$bought-place: #585858;
$blocked-place: #949494;

$orange: #f55a5a;

$text-color: #fff;

$background: #000218;
$modalBackground: #191919;
